# DQN training configuration
DQN_MODE=boss
DQN_EPISODES=1000
DQN_GAMMA=0.99
DQN_LR=0.001
DQN_BATCH_SIZE=64
DQN_BUFFER_SIZE=50000
DQN_TARGET_UPDATE=500
DQN_EPSILON_START=1.0
DQN_EPSILON_FINAL=0.05
DQN_EPSILON_DECAY=20000
DQN_MAX_STEPS=5000
DQN_RENDER=true
DQN_RENDER_EVERY=0
DQN_EPISODE_DELAY=0
DQN_RENDER_FPS=60
DQN_MODELS_DIR=models
DQN_RUN_NAME=
DQN_RESUME_PATH=20260519_235235/last.pt
DQN_SAVE_EVERY_EPISODES=1
DQN_MOVING_AVG_WINDOW=20
DQN_MAX_BULLETS=300
DQN_TRAIN_EVERY=4
DQN_GRAD_CLIP=5.0
